     .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .grid {
            display: grid;
            grid-template-columns: [xl-start] 1fr 1.0rem [md-start] minmax(0, 500px) [md-end] 1.0rem 1fr [xl-end];
        }

        .grid * {
            grid-column: md;
        }

        .grid-xl {
            grid-column: xl;
        }

        .is-paddingless-horizontal {
            padding-left: 0;
            padding-right: 0;
        }